<body style="background-color:#dddddd">
<center>
<h2>Sample Info</h3>
<% @items.each do |type, name| %>
	<p>
		There is a <b><%= type %></b> called <b><%= name%></b> <br>
	</p>
<% end %>
<a href="/">
	<input type="button" style="border:none; background-color:#e4833e; color:white; padding:10px; cursor:pointer" value="Go Back Home">
	</input>
</>
</center>
