<body style="background-color:#dddddd">
<center>
<img src="logo.png" />
<h1>Congrats on running the app!</h1>
<a href="/items">
	<input type="button" style="border:none; background-color:#e4833e; color:white; padding:10px; cursor:pointer" value="Click here to view some sample data">
	</input>
</>
</center>
</body>
