<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Homework</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>

  <div class="row">
    <div class="col">
    <center>
      <img src="/public/logo.png" width="50%"/>
    </center>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <center><h3>Congrats on running the app!</h3></center>
    </div>
  </div>


  </body>
</html>
